/*
 * Theme specific variables. */
meta.foundation-version {
  font-family: "/5.4.1/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:35.61111em)/";
  width: 35.6111111111em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:53.38889em)/";
  width: 53.3888888889em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:80.05556em)/";
  width: 80.0555555556em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:106.72222em)/";
  width: 106.7222222222em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

/* Accessibility - hides the forward slash */
[aria-label="breadcrumbs"] [aria-hidden="true"]:after {
  content: "/"; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

/*********************************** */
h1, h2, h3, a {
  color: #009381; }

a {
  color: #006E61; }
  a:hover {
    color: #009381; }

button, .button {
  background-color: #009381;
  border-color: #006E61; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #007666; }

.l-header section.block-bean .header-links, .block-owwl-catalog form .search-submit .search-submit-inner .form-submit:before {
  background-color: #DDF1E8; }

@media only screen and (max-width: 35.55556em) {
  .l-header .right-off-canvas-menu {
    background: #006E61; }
    .l-header .right-off-canvas-menu h2 {
      background-color: #009381; }
    .l-header .right-off-canvas-menu li {
      list-style: none; }
      .l-header .right-off-canvas-menu li a {
        color: #DDF1E8; } }
