// Non-modular or client styles for .l-header region.

.l-header

  .logo
    margin-top: rem-calc(27)

  // Header links
  // ----------------------------------------------------------------------------
  section.block-bean

    .header-links
      background-color: $secondary-color
      padding: 0
      margin: 0

      .button
        margin: 0
        width: 100%
        padding-left: 0
        padding-right: 0

        &.secondary
          color: $blue

      h6
        margin-bottom: 0

      .columns.small-4
        padding: 0


// Search in highlighted, or in content_bottom
// ----------------------------------------------------------------------------
.block-owwl-catalog
  //margin: 2rem 0
  margin-bottom: 2em

  label
    display: none

  input,
  select
    margin: 0

  form

    &>div
      background-color: $gray-light
      padding: $column-gutter
      +grid-row()
    
    .form-item
      margin-top: 0
      margin-bottom: 0

    .search-submit

      .search-submit-inner
        position: relative
        +infield-search-button(false, '.search-submit-inner')

    // radios as buttons
    +radios-as-buttons()



// *
// * Media Queries
// *
// ******************************************************

+respond($small-only)
  .l-header

    section.block-bean
      .header-links
        h6
          display: none

      .button
        line-height: $topbar-height
        display: block
        top: 0
        padding: 0


    //  Mobile header
    // ----------------------------------------------------------------------------
    .right-off-canvas-toggle
      +icon-replace(bars, 32px, 32px, 32px, $blue)
      display: block
      margin-top: rem-calc(50)

    aside.right-off-canvas-menu
      h2
        @extend %header-4
        color: $white
        background-color: $blue
        padding-left: $column-gutter/2
        margin-top: 0
        line-height: rem-calc(45)

      li
        list-style: none

        a
          color: $blue-light
          padding: .2rem 0
          display: block

          &:hover,
          &:active,
          &.active,
          &.active-trail
            color: $white


  // Search in highlighted, or in content_bottom
  // ----------------------------------------------------------------------------
  .block-owwl-catalog
    form

      .form-radios
        +grid-column(12)

      .form-type-select
        +grid-column(6)

      .search-submit
        +grid-column(12)

      .form-radios,
      .search-submit
        padding-bottom: $column-gutter/2



+respond($medium-up)
  .l-header

    // Header links
    // ----------------------------------------------------------------------------
    section.block-bean
      float: right
      min-width: rem-calc(350)

    // Main menu
    // ----------------------------------------------------------------------------
    section.block-domain-menu-block
      clear: both
      padding-top: rem-calc(35)

      ul
        +list-float()

        li a
          padding: 0 0 0 1.5rem

          &.active-trail,
          &.active
            color: $navy


+respond($medium-only)
  // Search in highlighted, or in content_bottom
  // ----------------------------------------------------------------------------
  .block-owwl-catalog
    form

      .form-radios
        +grid-column(5)

      .form-type-select
        +grid-column(3.5)

      .search-submit
        +grid-column(12)
        padding-bottom: $column-gutter/2



+respond($large-up)
  // Search in highlighted, or in content_bottom
  // ----------------------------------------------------------------------------
  .block-owwl-catalog
    form

      .form-radios
        +grid-column(2.5)

      .form-type-select
        +grid-column(2.5)

      .search-submit
        +grid-column(4.5)