// Non-modular or client styles for .l-header region.

.l-header

  .logo
    margin-top: rem-calc(27)

  // Header links
  // ----------------------------------------------------------------------------
  section.block-bean
    float: right
    min-width: rem-calc(350)

    .header-links
      background-color: $secondary-color
      padding: 0
      margin: 0

      .button
        margin: 0
        width: 100%
        padding-left: 0
        padding-right: 0

        &.secondary
          color: $blue

      .columns.small-4
        padding: 0


  // Main menu
  // ----------------------------------------------------------------------------
  section.block-domain-menu-block
    clear: both
    padding-top: rem-calc(35)

    ul
      +list-float()

      li a
        padding: 0 0 0 1.5rem

        &.active-trail,
        &.active
          color: $navy


// Search in highlighted, or in content_bottom
// ----------------------------------------------------------------------------
.block-owwl-catalog
  margin: 2rem 0

  label
    display: none

  input,
  select
    margin: 0

  form

    &>div
      background-color: $gray-light
      padding: $column-gutter
      +grid-row()
    
    .form-radios
      +grid-column(2.5)

    .form-type-select
      +grid-column(2.5)

    .form-item
      margin-top: 0
      margin-bottom: 0

    .search-submit
      +grid-column(4.5)

      .search-submit-inner
        position: relative
        +infield-search-button(false, '.search-submit-inner')

    // radios as buttons
    +radios-as-buttons()
