// Non-modular or client styles for the .l-content region.


// Content bottom
// ----------------------------------------------------------------------------
.l-content-bottom-region
  .block
    +grid-row
    padding-top: +rem-calc(100)

    h2.block-title
      +grid-column(3)
      @extend %header-3-dash

    .content,
    form
      +grid-column(9)

    &.block-bean-pls-home-services
      padding-top: 1em
      margin-left: 25%

  .block-owwl-catalog form
    select
      display: none !important

    .search-submit,
    .form-radios
      +grid-column(6)


