

// Define new media query

// Modify page layout margins
#page-title,
.block-bean-pls-home-slogan h1
  margin-top: rem-calc(50)
  margin-bottom: rem-calc(50)

.sidebar-first
  padding-left: 0
  padding-right: 2.5rem

.columns.main,
.l-content-bottom-region section.block .content,
.l-content-bottom-region #library-catalog-form
  padding-right: 0
  padding-left: 2.5rem



// Modify element margins
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  &.no-margin
    margin-bottom: 0
    margin-top: 0

  &.no-margin-top
    margin-top: 0

  &.no-margin-bottom
    margin-bottom: 0

  &.large-margin-bottom
    margin-bottom: $header-bottom-margin * 1.5

  &.larger-margin-bottom
    margin-bottom: $header-bottom-margin * 2


//.row .row
//  margin-left: 0
//  margin-right: 0


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // sticky footer
  //+sticky-footer(rem-calc(310), ".page", "#footer-push", ".l-footer")


+respond($past-menu)
  .move-left > .inner-wrap
    +translate3d(0, 0, 0)

  //+sticky-footer(rem-calc(245), ".page", "#footer-push", ".l-footer")